@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.logo {
  width: 80px;
}
.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  list-style: none;
  margin-right: 25px;
  font-weight: 600;
  font-size: 18px;
}
.restaurant-container {
  margin-left: 75px;
  display: flex;
  flex-wrap: wrap;
}
.restaurant-card {
  padding: 5px;
  margin: 5px;
  width: 250px;
  height: 350px;
}
.restaurant-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.search {
  padding: 10px;
}
.restaurant-logo {
  width: 100%;
  height: 40%;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.filter {
  display: flex;
}
.shimmer-container {
  display: flex;
  margin-left: 80px;
  flex-wrap: wrap;
}
.shimmer-card {
  margin-top: 50px;
  margin-left: 15px;
  width: 250px;
  height: 350px;
  background: #ced4da;
}
.login {
  padding: 2px 18px;
  margin-right: 15px;
  cursor: pointer;
}
.filter {
  display: flex;
  margin-left: 80px;
}
